//css loading
.overlay__loading {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 80;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  .lds-roller {
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.082s;
  }
  .lds-roller div:nth-child(2):after {
    top: 70px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.118s;
  }
  .lds-roller div:nth-child(3):after {
    top: 73px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.154s;
  }
  .lds-roller div:nth-child(4):after {
    top: 74px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.19s;
  }
  .lds-roller div:nth-child(5):after {
    top: 73px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.226s;
  }
  .lds-roller div:nth-child(6):after {
    top: 70px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.262s;
  }
  .lds-roller div:nth-child(7):after {
    top: 65px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.298s;
  }
  .lds-roller div:nth-child(8):after {
    top: 58px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
